@model IList<TrainingDay.Models.Feedback>

 

<table>
    <tr>
        <th width="25%">Date/Time</th>
        <th>Provider</th>
        <th>Confidence</th>
        <th>Accomplishment</th>
    </tr>    
    
    @foreach (var feedback in Model)
    {<tr>
       
         <td><a asp-controller="ViewFeedback" asp-action="IndividualFeedback" asp-route-id="@feedback.ID">
            @feedback.EntryDate</a></td>
          <td>@feedback.ProviderName</td>
          <td>@feedback.Confidence</td>
           <td>@feedback.Accomplishment</td>
        
        
    </tr>
        
    }
    
</table>

@if (Model.Count == 0)
{
    <p>No Feedback yet!</p>
}
</h3>


