@using TrainingDay.ViewModels
@model IndividualFeedbackViewModel

    
        <h5>
        <p><strong>Entry Time:</strong> @Model.IndividualFeedback.EntryDate</p></br>        
        <p><strong>Provided by:</strong> @Model.IndividualFeedback.ProviderName</p></br> 
        <p><strong>Focus Area:</strong> @Model.IndividualFeedback.Focus</p></br> 
        <p><strong>Confidence Rating:</strong> @Model.IndividualFeedback.Confidence</p></br> 
        <p><strong>Accomplishment Rating:</strong> @Model.IndividualFeedback.Accomplishment</p></br> 
        <p><strong>I Like Notes: </strong>@Model.IndividualFeedback.ILikeNotes</p></br> 
        <p><strong>I Wish Notes: </strong>@Model.IndividualFeedback.IWishNotes</p></br> 
        @if (Model.IndividualFeedback.ManagerNotes != null)
        {
        <p><strong>Manager Notes: </strong>@Model.IndividualFeedback.ManagerNotes</p>}

        </h5>
    
